on:
- push
- pull_request
- workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v5
      with:
        java-version: 17
        distribution: semeru
    - uses: gradle/actions/setup-gradle@v5
    - run: ./gradlew --version
    - run: ./gradlew build
